body{
	background-color: black;
}
h1{text-align: center;}
h1{color: black;}
titulo{
	font-size: 150px;
	color: red;

}
subtitulo{
	font-size: 70px;
	color: white;
}
subsubtitulo{
	font-size: 25px;
	color: white;
}
descripcion{
	color: white;
	font-family: "Arial";
}
.tema{
	font-size: 40px;
	color: red;
	position: absolute;
	font-family: "Lucida Console";
}

p{
	color: white;
	font-family: "Arial";

}
center{
	text-align: center;
}
.pelicula{
	width: 600px;
	position: absolute;
	
}
.texto{
	width: 700px;
	height: 500px;
	font-size: 35px;
	color: white;
	position: absolute;
	font-family: "Arial";
}
th{
	color: white;
	font-size: 35px;
	font-family: Helvetica;
}
.tabla{
	width: 1200px;
	height: 500px;
	font-size: 35px;
	color: white;
	position: absolute;
	font-family: "Arial";
}


/* BOTONES */

.buttonPP {
  background-color: black;
  border: none;
  color: white;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  
}
.buttonP {
  background-color: black; 
  color: white; 
  border: 2px solid #f44336;
}

.buttonP:hover {
  background-color: red;
  color: white;
}


.button1 {
  display: inline-block;
  border-radius: 20px;
  background-color: red;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  left: 40px;
  top: 203px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.button1 span:after {
  content: '\00ab';
  position: relative;
  opacity: 0;
  top: 0px;
  left: -132px;
  right: 23px;
  transition: 0.3s;
}

.button1:hover span {
  padding-left: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}


.button2 {
  display: inline-block;
  border-radius: 20px;
  background-color: red;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  left: 1015px;
  top: 203px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonM {
  background-color: black;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute;
  top: 1450px;
  left: 1040px;
}
.button3 {
  background-color: black; 
  color: white; 
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: red;
  color: white;
}